/* Config Geral */
* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1f1f1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.espacador {
    height: 30px;
    width: 100%;
    /* border: 3px solid red; */
} /* Fim Config Geral */

/* Config Header */
header {
    margin: auto;
    height: 100px;
    width: 100vw;
    padding-inline: 5%;
    
    background-color: #007fee;
    color: #f1f1f1;
    
    align-content: center;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 32px;
    align-self: center;
} header nav {
    align-self: center;
}
header nav li {
    list-style: none;
    display: inline-block;

}
header nav a {
    display: flex;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    margin-left: 20px;
}/* Fim Config Header */

/* Config Main */
main {
    margin: auto;
    height: 100vh;
    width: 100vw;
    padding-inline: 10%;
}

main h2 {
    font-size: 36px;
}

main .form {
    display: block;
    height: 70vh;
    width: 100%;
    /* border: 2px solid red; */
    padding: 15px;
}main .form .espacador {
    height: 20px;
}

.form .box_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
} .box_input label {
    font-size: 18px;
    /* border: 2px solid greenyellow; */
} .box_input .inputDescricao,.inputSetor {
    height: 15%;
    width: 50%;
    padding: 15px;
    border: 1px solid #1f1f1f;
    outline: none;
} .box_input .inputCadastro {
    width: 150px;
}.box_input .inputUsuario {
    height: 20%;
    width: 50%;
    padding: 10px;
    border: 1px solid #1f1f1f;
} .box_input .selectPrioridade {
    width: 50%;
    padding: 5px;
    border: 1px solid #1f1f1f;

} .form button {
    width: 50%;
    padding: 10px;
    background-color: #007fee;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #f1f1f1;
    border: none;
}