* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-content: center;
}

.espacador {
    height: 50px;
    width: 100%;
    /* border: 3px solid red; */
}

body {
    margin: auto;
    display: block;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.container {
    background-color: #f1f1f1;
    border-radius: 30px;
    height: 70vh;
    min-width: 500px;
    width: 60%;
    margin: auto;

    display: block;
    justify-content: center;
    text-align: center;
}

.container h1 {
    text-align: center;
    font-size: 42px;
    margin-top: -100px;
}

.box_input {
    margin: auto;
    display: block;
    /* border: 3px solid red; */
}

.box_input input {
    margin: auto;
    min-width: 300px;
    width: 50%;
    padding: 20px;

    outline: none;
    border: 2px solid #7c7c7c;
    border-radius: 10px;
}

button {
    cursor: pointer;
    margin: auto;
    min-width: 300px;
    width: 50%;
    padding: 20px;

    outline: none;
    background-color: #007fee;
    color: #f1f1f1;

    border: 2px solid #7c7c7c;
    border-radius: 10px;

    font-size: 24px;
    font-weight: 600;
}

button:hover {
    background-color: #005bb5;
}

footer {
    color: #f1f1f1;
    margin: auto;
    text-align: center;
}